.main {background-color: #fff; border-radius: 20px;}


.swiper-slide {position: relative; display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 90vh; padding: 50px; border-top-left-radius: 20px; border-top-right-radius: 20px;}

.project-wrap {display: flex; flex-direction: column; justify-content: space-between; height: 100%;}
.project-name {font-size: 5rem; color: #c4f000;}
.project-meta {font-size: 2rem; color: #fff;}

.meta-list {padding-top: 50px;}
.meta-item {display: flex; padding-top: 20px; font-size:1.5rem; text-align: center;}
.meta-label {width: 100px; color: #fff;}
.meta-label::after {content: ":"; margin: 0 20px;}
.meta-value {width: 150px; color: #fff;}
.meta-skill {display: flex; align-items: center;}
.skill {display: flex;}
.skill-item img {width: 30px; margin-left: 10px;}

.contribution {position: absolute; bottom: 20px; display: flex; align-items: center;}
.contribution-title {padding-right: 20px;}
.contribution-bar {width: 500px; height: 22px; border: 1px solid #222; border-radius: 20px;}
.contribution-bar-fill {display: flex; align-items: center; justify-content: flex-end; height: 20px; padding-right: 10px; font-size: 18px; font-weight: bold; color: #222; background: #c4f000; border-radius: 20px;}

.project-desc {padding-bottom: 40px;}
.project-desc p {max-width: 500px; line-height: 30px; font-size: 18px; color: #fff;}
.project-link {width: 140px; height: 50px; margin-bottom: 50px; margin-top: 50px; font-weight: bold; border-radius: 20px; background-color: #fff; cursor: pointer;}
.project-link:hover {background-color: #c4f000;}
.link {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}

.swiper-control {display: flex; position: absolute; bottom: 70px; left: 50%; transform: translateX(-50%); z-index: 2;}
.swiper-pagination {width: 70px !important;}
.swiper-pagination-bullet {display: inline-block; width: 10px; height: 10px; background-color: #222; border: 2px solid #c4f000;}
.play-btn {position: absolute; bottom: 9px; right: 0; width: 10px; height: 10px; background: url("../../img/icon/icon_pause.png") no-repeat center / cover; border: none;}
.play-btn.playing {width: 10px; height: 10px; background: url("../../img/icon/icon_play.png") no-repeat center / cover;}

.project__1 {background: url("../../img/project/mockup-shisegae.png") no-repeat center / cover;}
.project__2 {background: url("../../img/project/mockup-lespace.png") no-repeat center / cover;}
.project__3 {background: url("../../img/project/mockup-genesis.png") no-repeat center / cover;}

@media (max-width: 1001px) {
    .contribution-bar {width: 300px;}
}
@media (max-width: 640px) {
    .swiper-slide {padding: 20px;}
    .project-name {font-size: 4rem;}
    .meta-item {font-size: 1rem;}
}
@media (max-width: 480px) {
    .project-name {font-size: 2rem;}
    .contribution-bar {width: 200px;}
    .project-link {margin: 20px 0 100px;}
}

.responsive-wrap {padding: 100px 50px;}
.responsive-list {display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;}
.responsive-item {position: relative; height: 50vh; border-radius: 20px; overflow: hidden;}
.responsive-item:hover .item-info {top: 0; transform: translateY(0);}

.item-info {position: absolute; top: 100%; left: 0; display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 100%; padding: 50px; color: #fff; background-color: rgb(0, 0, 0, 0.8); border-radius: 20px; transform: translateY(-150px); transition: top 0.4s ease;}
.item-name {font-size: 2rem; color: #c4f000;}
.info-top {padding-bottom: 50px;}
.skill-name {padding-top: 10px;}
.type {padding-bottom: 20px;}

.item__1 {background: url("../../img/project/shinsegae-2.png") no-repeat center / cover;}
.item__2 {background: url("../../img/project/hansolpns.png") no-repeat center / cover;}
.item__3 {background: url("../../img/project/kia.png") no-repeat center / cover;}
.item__4 {background: url("../../img/project/smasunglions.png") no-repeat center / cover;}
.item__5 {background: url("../../img/project/baseball-game.png") no-repeat center / cover;}
.item__6 {background: url("../../img/project/card-game.png") no-repeat center / cover;}

@media (max-width: 720px) {
    .responsive-list {grid-template-columns: repeat(1, 1fr);}
}
@media (max-width: 500px) {
    .item-info {padding: 20px; transform: translateY(-100px);}
    .item-name {font-size: 1.5rem;}
}
.timeline-wrap {max-width: 1100px; display: flex; flex-direction: column; padding: 50px 100px; margin: 0 auto;}
.timeline-pc .timeline-item {display: flex;}

.timeline-phase {display: flex;}
.timeline-phase .phase {width:80px; font-size: 3rem; color: #c4f000;}
.timeline-phase .text {display: flex; align-items: flex-start; padding-top: 5px; padding-left: 15px;}

.timeline-right {padding-bottom: 100px;}
.timeline-right .timeline-desc {padding-bottom: 50px;}
.portfolio-link {display: flex; justify-content: flex-end; align-items: flex-end; width: 100%;}
.portfolio-link .portfolio {padding: 10px; border-radius: 20px; background-color: rgb(0, 0, 0, 0.5); color: #fff;}
.portfolio-link .portfolio:hover {background-color: #c4f000; color: #222;}

.timeline-mo {display: none; flex-direction: column;}
.timeline-mo .timeline-item {display: flex;}
.timeline-mo .timeline-phase {margin-bottom: 20px;}
.timeline-mo .timeline-desc {width: 100%;}

/*타임라인 공통부분*/
.timeline-axis {display: flex; flex-direction: column; align-items: center;}
.timeline-axis .dot {display: block;  width: 20px; height: 20px; margin: 5px 50px 0 20px; border-radius: 20px; background-color: #222;}
.timeline-axis .line {width: 1px; height: 100%; margin: 5px 50px 0 20px; background-color: #222;}

@media (max-width: 1200px) {
    .timeline-wrap {padding: 50px;}
    .timeline-desc {width: 500px;}
    .timeline-center .dot, .timeline-center .line {margin: 3px 50px 3px 10px;}
}
@media (max-width: 900px) {
    .timeline-pc {display: none;}
    .timeline-mo {display: flex;}
    .timeline-axis .dot, .timeline-axis .line {margin: 15px 50px 5px 0;}
}
@media (max-width: 550px) {
    .timeline-wrap {padding: 50px 20px;}
    .timeline-axis .dot, .timeline-axis .line {margin: 15px 20px 5px 0;}
}