.main {background-color: #fff; border-radius: 20px;}


.swiper-slide {position: relative; display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 90vh; padding: 50px; border-top-left-radius: 20px; border-top-right-radius: 20px;}

.project-wrap {display: flex; flex-direction: column; justify-content: space-between; height: 100%;}
.project-name {font-size: 5rem; color: #c4f000;}
.project-meta {font-size: 2rem; color: #fff;}

.meta-list {padding-top: 50px;}
.meta-item {display: flex; padding-top: 20px; font-size:1.5rem; text-align: center;}
.meta-label {width: 100px; color: #fff;}
.meta-label::after {content: ":"; margin: 0 20px;}
.meta-value {width: 150px; color: #fff;}
.meta-skill {display: flex; align-items: center;}
.skill {display: flex;}
.skill-item img {width: 30px; margin-left: 10px;}

.contribution {position: absolute; bottom: 20px; display: flex; align-items: center;}
.contribution-title {padding-right: 20px;}
.contribution-bar {width: 500px; height: 22px; border: 1px solid #222; border-radius: 20px;}
.contribution-bar-fill {display: flex; align-items: center; justify-content: flex-end; height: 20px; padding-right: 10px; font-size: 18px; font-weight: bold; color: #222; background: #c4f000; border-radius: 20px;}

.project-desc {padding-bottom: 40px;}
.project-desc p {max-width: 500px; line-height: 30px; font-size: 18px; color: #fff;}
.project-link {width: 140px; height: 50px; margin-bottom: 50px; margin-top: 50px; font-weight: bold; border-radius: 20px; background-color: #fff; cursor: pointer;}
.project-link:hover {background-color: #c4f000;}
.link {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}

.swiper-control {display: flex; position: absolute; bottom: 70px; left: 50%; transform: translateX(-50%); z-index: 2;}
.swiper-pagination {width: 70px !important;}
.swiper-pagination-bullet {display: inline-block; width: 10px; height: 10px; background-color: #222; border: 2px solid #c4f000;}
.play-btn {position: absolute; bottom: 9px; right: 0; width: 10px; height: 10px; background: url("../../img/icon/icon_pause.png") no-repeat center / cover; border: none;}
.play-btn.playing {width: 10px; height: 10px; background: url("../../img/icon/icon_play.png") no-repeat center / cover;}

.project__1 {background: url("../../img/project/mockup-shisegae.png") no-repeat center / cover;}
.project__2 {background: url("../../img/project/mockup-lespace.png") no-repeat center / cover;}
.project__3 {background: url("../../img/project/mockup-genesis.png") no-repeat center / cover;}

@media (max-width: 1001px) {
    .contribution-bar {width: 300px;}
}
@media (max-width: 640px) {
    .swiper-slide {padding: 20px;}
    .project-name {font-size: 4rem;}
    .meta-item {font-size: 1rem;}
}
@media (max-width: 480px) {
    .project-name {font-size: 2rem;}
    .contribution-bar {width: 200px;}
    .project-link {margin: 20px 0 100px;}
}




.responsive-wrap {padding: 100px 50px;}
.responsive-list {display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;}
.responsive-item {position: relative; height: 50vh; border-radius: 20px; overflow: hidden;}
.responsive-item:hover .item-info {top: 0; transform: translateY(0);}

.item-info {position: absolute; top: 100%; left: 0; display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 100%; padding: 50px; color: #fff; background-color: rgb(0, 0, 0, 0.8); border-radius: 20px; transform: translateY(-150px); transition: top 0.4s ease;}
.item-name {font-size: 2rem; color: #c4f000;}
.info-top {padding-bottom: 50px;}
.skill-name {padding-top: 10px;}
.type {padding-bottom: 20px;}







.item__1 {background: url("../../img/project/shinsegae-2.png") no-repeat center / cover;}
.item__2 {background: url("../../img/project/hansolpns.png") no-repeat center / cover;}
.item__3 {background: url("../../img/project/kia.png") no-repeat center / cover;}
.item__4 {background: url("../../img/project/smasunglions.png") no-repeat center / cover;}