.profile-section {width: 100%; background-color: #fff; border-radius: 15px;}

.profile-section {padding: 50px 100px;}

.page {height: 100px;}
.page-tag {display: flex; align-items: center; height: 100%;}
.page-home {padding: 10px; margin-right: 20px; border: 1px solid #222; border-radius: 20px;}
.arrow {margin-right: 20px;}
.page-about {padding: 10px; border: 1px solid #222; border-radius: 20px;}

.about {padding: 100px 0;}
.about-playground {padding-bottom: 100px;}
.playground-inner {display: flex; flex-direction: column; gap: 50px;}
.playground-title {font-size: 64px;}
.playground-desc {padding-left: 100px; font-size: 20px;}

.profile-wrap {display: flex; align-items: center; justify-content: center; width: 100%;}
.profile-inner {display: flex; align-items: center; max-width: 1000px; padding: 50px; gap: 50px; border: 1px solid #222; border-radius: 20px;}
.info-wrap {display: flex; flex-direction: column; gap: 20px; padding: 20px; border: 1px solid #222; border-radius: 20px;}
.info-item {display: flex;}
.info-title {display: flex; flex-direction: column;}
.info-title:first-child {width: 140px;}
.info-title:last-child {display: flex; flex-direction: column; justify-content: center;}
.eng-label {text-align: center; padding-top: 10px;}
.kor-value {padding-bottom: 10px; font-size: 24px; font-weight: 800; letter-spacing: 4px;}
.kor-label {padding-bottom: 5px; margin-bottom: 5px; font-size: 24px; font-weight: 800; border-bottom: 1px solid rgba(0, 0, 0, 0.3);}