
.main {background-color: #fff; border-radius: 15px;}
.profile-section {width: 100%;}
.profile-section {padding: 50px 100px;}

.page {height: 50px;}
.page-tag {display: flex; align-items: center; height: 100%; font-weight: bold;}
.page-home {padding: 10px; margin-right: 20px; border: 2px solid #222; border-radius: 20px;}
.arrow {margin-right: 20px;}
.page-about {padding: 10px; border: 2px solid #222; border-radius: 20px;}

.about {max-width: 1200px; padding: 100px 0; margin: 0 auto;}
.about-playground {display: flex; justify-content: center; padding-bottom: 100px; text-align: center;}
.playground-inner {display: flex; flex-direction: column; gap: 50px;}
.playground-title {font-size: 2rem;}
.playground-title .ani-underline {position: relative; display: inline-block; font-size: 4rem; color: #c4f000;}
.playground-title .ani-underline::after {content: ""; position: absolute; left: 0; bottom: -10px; width: 0; height: 20px; background: url(../../img/about/brush-underline.svg) no-repeat center bottom; background-size: 100% 100%; transition: width 0.5s ease-out;}
.playground-title .ani-underline.on::after {width: 100%;}
.playground-desc {display: flex; font-size: 1.5rem;}
.playground-desc .desc-kr {line-height: 60px;}
.playground-desc .ani-underline__2 {position: relative; display: inline-block; font-size: 2rem; color: #c4f000;}
.playground-desc .ani-underline__2::after {content: ""; position: absolute; left: 0; bottom: -20px; width: 0; height: 20px; background: url(../../img/about/brush-underline.svg) no-repeat center bottom; background-size: 100% 100%; transition: width 0.5s ease-out;}
.playground-desc .ani-underline__2.on::after {width: 100%;}

.about-me {display: flex; justify-content: center; max-width: 1200px; padding-top: 50px; margin: 0 auto; text-align: center; padding-bottom: 50px;}
.about-title {font-size: 3rem; padding-bottom: 20px; color: #c4f000;}
.about-desc {font-size: 1.2rem;}
.about-desc span {font-size: 2rem; font-weight: bold; color: #c4f000; border-bottom: 1px solid #c4f000;}

.profile-wrap {display: flex; align-items: center; justify-content: center; width: 100%;}
.profile-inner {display: flex; align-items: center; max-width: 1000px; padding: 50px; gap: 50px; border: 1px solid #222; border-radius: 20px;}
.profile-img img {border-radius: 20px;}
.info-wrap {display: flex; flex-direction: column; gap: 20px; padding: 20px; border: 1px solid #222; border-radius: 20px;}
.info-item {display: flex;}
.info-item:last-child .kor-label {border: none;}

.label {display: flex; flex-direction: column; align-items: center; width: 140px;}
.value {display: flex; flex-direction: column;}
.kor-label {padding-bottom: 5px; margin-bottom: 5px; font-size: 1rem; font-weight: 800; border-bottom: 1px solid #222;}
.eng-label {text-align: center;}
.kor-value {padding-bottom: 5px; font-size: 1.5rem; font-weight: 800; letter-spacing: 2px;}

.stack {max-width: 1200px; padding: 0 140px; margin: 0 auto;}
.stack-title {font-size: 2rem;}
.stack-inner {padding: 100px 80px;}
.stack-list {display: flex; flex-direction: column; width: 100%;}
.stack-item {display: flex; padding-bottom: 30px;}
.stack-info {width: 600px; padding-left: 30px;}

.stack-name {padding-bottom: 10px; font-weight: bold;}
.stack-bar {border: 1px solid #222; border-radius: 20px;}
.stack-bar-fill {display: flex; justify-content: flex-end; font-weight: bold; border-radius: 20px; background-color: #c4f000; transition: width 3s ease-out;}
.stack-desc {padding-top: 20px; line-height: 24px;}

@media (max-width: 1300px) {
    .profile-inner {flex-direction: column;}
    .profile-img img {width: 350px;}
}
@media (max-width: 1100px) {
    .stack {padding: 0 50px;}
    .stack-inner {padding: 50px 10px;}
}

@media (max-width: 1000px) {
    .profile-section {padding: 20px 20px;}
    .stack {padding: 20px;}
}

@media (max-width: 768px) {
    .stack-info {width: 300px;}
}

@media (max-width: 650px) {
    .info-wrap {padding: 5px;}
    .playground-desc .desc-kr {line-height: 50px;}
    .profile-inner {padding: 20px;}
    .profile-img img {width: 250px;}
    .kor-label {font-size: 1rem; letter-spacing: -1px;}
    .kor-value {font-size: 1rem; letter-spacing: -1px;}
    .eng-label {font-size: 1rem; letter-spacing: -1px;}
    .eng-value {font-size: 1rem; letter-spacing: -1px;}
}

@media (max-width: 480px) {
    .playground-title {line-height: 50px; font-size: 1.2rem;}
    .playground-title .ani-underline {font-size: 2.5rem;}
    .desc-kr {font-size: 1rem;}
    .desc-kr .ani-underline__2 {font-size: 2rem;}
    .page-home {margin-right: 5px;}
    .arrow {margin-right: 5px;}
    .label {width: 120px;}
}