.profile-section {width: 100%; background-color: #fff; border-radius: 15px;}

.profile-section {padding: 50px 100px;}

.page {height: 100px;}
.page-tag {display: flex; align-items: center; height: 100%; font-weight: bold;}
.page-home {padding: 10px; margin-right: 20px; border: 2px solid #222; border-radius: 20px;}
.arrow {margin-right: 20px;}
.page-about {padding: 10px; border: 2px solid #222; border-radius: 20px;}

.about {max-width: 1200px; padding: 100px 0; margin: 0 auto;}
.about-playground {display: flex; justify-content: center; padding-bottom: 100px; text-align: center;}
.playground-inner {display: flex; flex-direction: column; gap: 50px;}
.playground-title {font-size: 36px;}
.playground-title .ani-underline {position: relative; display: inline-block; font-size: 64px; color: #c4f000;}
.playground-title .ani-underline::after {content: ""; position: absolute; left: 0; bottom: -10px; width: 0; height: 20px; background: url(../../img/about/brush-underline.svg) no-repeat center bottom; background-size: 100% 100%; transition: width 0.5s ease-out;}
.playground-title .ani-underline.on::after {width: 100%;}
.playground-desc {display: flex; font-size: 20px;}
.playground-desc .desc-kr {height: 60px;}
.playground-desc .ani-underline__2 {position: relative; display: inline-block; font-size: 36px; color: #c4f000;}
.playground-desc .ani-underline__2::after {content: ""; position: absolute; left: 0; bottom: -20px; width: 0; height: 20px; background: url(../../img/about/brush-underline.svg) no-repeat center bottom; background-size: 100% 100%; transition: width 0.5s ease-out;}
.playground-desc .ani-underline__2.on::after {width: 100%;}

.about-me {display: flex; justify-content: center; max-width: 1200px; padding-top: 50px; margin: 0 auto; text-align: center; padding-bottom: 50px;}
.about-title {font-size: 36px; padding-bottom: 20px; color: #c4f000;}
.about-desc {font-size: 18px;}
.about-desc span {font-size: 24px; color: #c4f000; border-bottom: 1px solid #c4f000;}

.profile-wrap {display: flex; align-items: center; justify-content: center; width: 100%;}
.profile-inner {display: flex; align-items: center; max-width: 1000px; padding: 50px; gap: 50px; border: 1px solid #222; border-radius: 20px;}
.info-wrap {display: flex; flex-direction: column; gap: 20px; padding: 20px; border: 1px solid #222; border-radius: 20px;}
.info-item {display: flex;}
.info-item:last-child .kor-label {border: none;}

.label {display: flex; flex-direction: column; align-items: center; width: 140px;}
.value {display: flex; flex-direction: column;}
.kor-label {padding-bottom: 5px; margin-bottom: 5px; font-size: 18px; font-weight: 800; border-bottom: 1px solid #222;}
.eng-label {text-align: center;}
.kor-value {padding-bottom: 5px; font-size: 24px; font-weight: 800; letter-spacing: 2px;}

.stack {max-width: 1200px; padding: 0 140px; margin: 0 auto;}
.stack-title {font-size: 48px;}
.stack-inner {padding: 100px 50px;}
.stack-list {display: flex; flex-direction: column; align-items: center;}
.stack-item {display: flex; padding-bottom: 30px;}
.stack-info {padding-left: 30px;}

.stack-name {width: 600px; padding-bottom: 10px; font-weight: bold;}
.stack-bar {width: 100%; border: 1px solid #222; border-radius: 20px;}
.stack-bar-fill {display: flex; justify-content: flex-end; font-weight: bold; border-radius: 20px; background-color: #c4f000; transition: width 3s ease-out;}
.stack-desc {padding-top: 20px; line-height: 24px;}
