* {margin: 0; padding: 0; box-sizing: border-box;}
html {scroll-behavior: smooth;}
html, body {font-family: 'Freesentation-4Regular', sans-serif !important;}
.layout {display: flex; width: 100%; background-color: #0a0a0a;}
.sidebar {width: 300px;}
.content {flex: 1; padding: 24px; overflow: hidden;}

.sidebar-wrap {height: 100vh;}
.sidebar-inner {position: fixed; display: flex; flex-direction: column; justify-content: space-between; gap: 50px; padding: 48px 0 24px 16px; width: 290px; height: 100vh; background-color: #0a0a0a;}
.logo {display: flex; align-items: center; height: 80px; padding-left: 20px;}
.my-name {display: flex; align-items: center; gap: 10px;}
.my-name img {width: 48px;}
.my-name .eng-name {font-size: 16px; color: #fff;}

.nav {flex: 1;}
.tab-btn {display: flex; align-items: center; gap: 20px; padding: 20px;}
.tab-btn span {font-size: 18px; font-weight: 900; color: #fff;}
.tab-btn.active span {color: #c4f000;}
.tab-btn.active img {filter: invert(20%) sepia(93%) saturate(1400%) hue-rotate(17deg) brightness(105%) contrast(105%);}

.nav-btn {position: absolute; right: -34px;}
.menu-btn {background-color: #c4f000; border-bottom-left-radius: 20px; border-top-left-radius: 20px; border: none; width: 80px; height: 80px;}

.menu-btn {position: relative; display: flex; align-items: center; justify-content: center;}
.menu-btn img {position: absolute; width: 32px; transition: transform .3s ease, opacity .3s ease;}
.menu-btn .img-default {transform: translateY(0);}
.menu-btn .img-hover {transform: translateY(-100%); opacity: 0;}
@media (min-width: 1001px) {
    .menu-btn:hover .img-default {transform: translateY(100%); opacity: 0;}
    .menu-btn:hover .img-hover {transform: translateY(0); opacity: 1;}
    .menu-btn:hover {background-color: #fff; cursor: pointer;}
}

.sidebar.close {width: 80px;}
.sidebar.close .sidebar-inner {width: 100px;}
.sidebar.close .nav-btn {right: -4px;}
.sidebar.close .logo {visibility: hidden;}
.sidebar.close .nav-list .tab-btn span {visibility: hidden;}
.sidebar.close .sidebar-widgets {visibility: hidden;}

.sidebar-widgets {margin-bottom: 100px;}
.sidebar-info {display: flex; flex-direction: column; align-items: center;}
.time-ko {display: flex; flex-direction: column; font-size: 14px; color: #fff; text-align: center; padding-bottom: 50px;}
.weather-btn {display: flex; align-items: center; font-size: 18px; color: #fff; border: none; background-color: transparent;}
.weather-btn::after {content: ""; margin-left: 10px; width: 14px; height: 14px; background: url("../../img/icon/ico_searchOpen.png") no-repeat center / cover;}

@media (max-width: 1000px) {
    .layout {display: flex; flex-direction: column;}
    .nav {flex: 0;}
    .sidebar {width: 100%;}
    .sidebar-wrap {height: 70px;}
    .sidebar.close {width: 100%;}
    .sidebar-inner {flex-direction: row; height: 70px; padding: 10px; padding: 0; z-index: 10;}
    .sidebar.close .sidebar-inner {width: 100%; height: 70px; padding: 10px 20px;}
    .nav-wrap {display: flex; justify-content: center; align-items: center; height: 100%;}
    .logo {display: none;}
    .tab-btn {gap: 0;}
    .sidebar.close .nav-list .tab-btn span {display: none;}
    .sidebar.close .nav-btn {right: 40px; top: 0px;}
    .menu-btn {border-top-left-radius: 0; border-bottom-right-radius: 20px;}

    .content {padding: 0 24px;}

    .menu-btn:active .img-default {transform: translateY(100%); opacity: 0;}
    .menu-btn:active .img-hover {transform: translateY(0); opacity: 1;}
    .menu-btn:active {background-color: #fff; cursor: pointer;}

    .sidebar.open .logo {display: flex;}
    .sidebar.open .sidebar-wrap {height: 500px;}
    .sidebar.open .sidebar-inner {display: flex; flex-direction: column; width: 100%; height: 500px; padding: 10px 20px; gap: 20px;}
    .sidebar.open .nav-wrap {display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
    .sidebar.open .nav-btn {right: 40px; top: 0;}

    .sidebar-info {align-items: flex-start; padding-left: 20px; gap: 20px;}
    .time-ko {display: flex; flex-direction: row; flex-wrap: wrap;}
    .time-ko .year, .time-ko .day, .time-ko .weekday {flex: 1 0 auto;}
    .time-ko .time {flex: 0 0 100%;}
}

@media (max-width: 380px) {
    .tab-btn {padding: 10px;}
}

.footer {padding: 10px 0;}
.footer-wrap {background-color: #c4f000; border-radius: 20px;}
.footer-inner {padding: 0 40px;}
.contact-area {display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding: 20px 0;}
.contact-area .email {padding-bottom: 20px;}
.contact-area .social-link .open-kakao {width: 100%; height: 100%; padding-right: 20px;}
.footer-copyright {display: flex; justify-content: center; padding-bottom: 10px;}

@media (max-width: 480px) {
    .contact-area {align-items: center;}
}

/*날씨 위젯*/
.weather-pop {position: fixed; top: 0; left: 0; display: none; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 10;}
.weather-inner {position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; align-items: center; max-width: 500px; max-height: 500px; width: 90%; padding: 40px; background-color: #cacbbc; border: 1px solid #000; border-radius: 25px;}
.close-weather {position: absolute; right: 20px; top: 20px; width: 20px; height: 20px; border: none; background-color: transparent;}
.close-weather .close-line {position: absolute; left: 50%; transform: translate(-50%); display: block; width: 20px; height: 2px; background-color: #fff;}
.close-weather .close__1 {transform: rotate(-45deg);}
.close-weather .close__2 {transform: rotate(45deg);}
.weather-search {display: flex; align-items: center; justify-content: space-between; width: 100%;}
.weather-search input {flex: 1; height: 60px; padding: 0 25px; margin-right: 20px; font-size: 18px; line-height: 60px; outline: 0; border: 0; border-radius: 50px;}
.weather-search button {width: 60px; height: 60px; background-color: #fff; border: 0; border-radius: 50px;}
.weather-search button img {width: 15px; height: 15px;}
.weather-error {display: none; margin-top: 20px;}
.weather {display: flex; flex-direction: column; align-items: center; width: 100%; padding-top: 20px;}
.weather .weather-icon {width: 70px;}
.weather .details {display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 0 20px; margin-top: 50px;}
.weather-text {margin-left: 10px;}
.temp {padding-top: 5px;}
.status {padding-top: 5px;}
.city {padding-top: 5px;}
.col {display: flex; align-items: center; justify-content: center; width: 100%; height: 20px;}
.col img {width: 25px; height: 25px;}

@media (max-width: 480px) {
    .weather-search input {min-width: 0; height: 40px; font-size: 14px;}
    .weather-search button {width: auto; height: 40px; padding: 0 10px;}
}