* {margin: 0; padding: 0; box-sizing: border-box;}

body {font-family: 'Freesentation-4Regular', sans-serif !important;}

.header {background-color: #fefff0; border-bottom: 3px solid #222222;}
.header .header-wrap {display: block; max-width: 1920px;  padding: 0 140px; margin: 0 auto;}
.header-inner {display: flex; justify-content: space-between; padding: 10px 0;}
.header-inner .inner {display: flex; align-items: center; height: 80px; border: 2px solid #222222; background-color: #fff; box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);}

.header-inner .header-inner-right .time-ko {padding: 10px; text-align: center;}
.header-inner .header-inner-right .time-ko .time {font-size: 24px;}

.header-logo {position: relative; display: flex; height: 100%; padding: 0 50px;}
.header-logo::after {content: ""; position: absolute; right: 0; height: 100%; border-right: 2px solid #222222;}
.header-logo a {position: relative; display: flex; align-items: center; height: 100%; padding: 0 30px; font-size: 28px; font-weight: 900;}
.header-logo a::before {content: ""; position: absolute; left: 0; width: 15px; height: 15px; background: url("../../img/common/Vector.png") no-repeat center / cover;}
.navbar {height: 100%;}
.navbar .nav-list {display: flex; height: 100%;}
.navbar .nav-list .list-item {position: relative; display: flex; align-items: center; height: 100%; padding: 0 20px;}
.navbar .nav-list .list-item:hover {background-color: #ffdc58;}
.navbar .nav-list .list-item::after {content: ""; position: absolute; top: 0; right: 0; height: 100%; border-right: 1px solid #222222;}
.navbar .nav-list .list-item:last-child::after {display: none;}
.navbar .list-item .item-btn {width: 100%; height: 100%; background: transparent; border: none; cursor: pointer;}

.header-mo-inner {display: none; align-items: center; width: 100%; border: 2px solid #000;}
.header-mo-inner .mo-inner {display: flex; align-items: center; width: 100%; padding: 10px 100px;}
.mo-logo {display: flex; align-items: center; justify-content: space-between; width: 100%;}
.mo-logo .logo-img {display: flex; align-items: center;}
.mo-logo .logo-img img {width: 25px; height: 25px; margin-right: 10px;}
.mo-inner .time-ko {display: none; flex-direction: column; align-items: center; justify-content: center;}
.mo-inner .time-ko .day {font-size: 14px;}
.mo-inner .time-ko .time {font-size: 18px; font-weight: 900;}

@media (max-width: 1024px) {
    .header-inner .inner {display: none;}
    .header-mo-inner {display: flex;}
    .header-mo-inner .mo-inner {padding: 10px 50px;}
    .mo-inner .time-ko {display: flex;}
}
@media (max-width: 768px) {
    .header .header-wrap {padding: 0 20px;}
}
@media (max-width: 480px) {
    .header-mo-inner .mo-inner {padding: 10px 20px;}
    .header .header-wrap {padding: 0 20px;}
}

.footer {border-top: 4px solid #222222; background-color: #fefff0;}
.footer-wrap {max-height: 1920px; padding: 0 140px; margin: 0 auto;}
.footer-inner {position: relative; display: flex; align-items: center; justify-content: space-between; padding: 20px 0 50px;}
.footer-logo {padding-right: 50px;}
.footer-copyright {position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);}
.sns-link .e-mail {font-size: 24px; font-weight: 900;}
.sns-link .kakao {padding-left: 20px;}
.sns-link .kakao img {width: 100px; height: 100px;}
.sns-link .github {padding-left: 20px;}
.sns-link .github img {width: 100px; height: 100px;}

@media (max-width: 1024px) {
    .footer-wrap {padding: 0 50px;}
    .footer-logo {padding-right: 0;}
}
@media (max-width: 768px) {
    .footer-inner {flex-direction: column;}
    .footer-logo {padding-bottom: 20px;}
    .footer-copyright {display: flex; justify-content: center; width: 100%;}
    .sns-link {display: flex; flex-direction: column; align-items: center; padding-bottom: 20px;}
    .sns-link span {padding-bottom: 10px; order:inherit;}
}
