.main {background-color: #fefff0;}

.first-wrap {padding: 200px 0 220px;}
.first-inner {display: flex; align-items: center; justify-content: center; max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.sc-inner-left .deco-img img {width: 100px; height: auto;}
.first-inner .sc-inner-left .inner-txt p {font-size: 60px; font-weight: 900; line-height: 100px;}
.first-inner .sc-inner-left .inner-txt .underline {border-bottom: 10px solid rgba(255, 220, 88, 0.6)}
.sc-first .sc-inner-right {padding-left: 300px;}
.sc-first .sc-inner-right .inner-wrap .top-deco {display: flex; align-items: center;}
.sc-first .sc-inner-right .inner-wrap .inner-bg {position: relative; padding: 25px 20px; background-color: #fff; border: .5px solid #383838; box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5); z-index: 1;}
.sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img {border: 2px solid #222222;}
.sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img img {width: 400px; height: 600px;}

@media (max-width: 1440px) {
    .first-inner {padding: 0 100px;}
    .sc-first .sc-inner-right {padding-left: 70px;}
}
@media (max-width: 1280px) {
    .sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img img {width: 250px; height: 450px;}
    .first-inner .sc-inner-left .inner-txt p {font-size: 54px; line-height: 80px;}
    .sc-first .sc-inner-right {padding-left: 50px;}
}
@media (max-width: 1024px) {
    .first-inner .sc-inner-left .inner-txt p {font-size: 48px; line-height: 70px;}
    .first-inner {padding: 0 50px;}
}
@media (max-width: 940px) {
    .first-inner {flex-direction: column;}
    .sc-first .sc-inner-right {padding-left: 0; padding-top: 40px;}
}
@media (max-width: 480px) {
    .sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img img {width: 250px; height: 450px;}
    .first-inner {padding: 0 20px;}
    .first-inner .sc-inner-left .inner-txt p {font-size: 38px; line-height: 45px;}
}


.about-wrap {padding: 100px 0 150px; z-index: 1;}
.about-inner-wrap {max-width: 1920px; height: auto; padding: 0 140px; margin: 0 auto;}
.about-title {display: flex; align-items: center;}
.about-title .title-name {font-size: 60px; font-weight: 900; line-height: 70px;}
.about-title .title-deco {padding-left: 40px;}
.about-title .title-deco img {width: 50px; height: 50px;}
.about-inner {display: flex; justify-content: center; padding: 30px; margin-top: 50px; border-radius: 25px; background-color: #fefff0; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);}
.about-inner .inner-left {padding: 50px 120px 0 0;}

.info-item {display: flex; margin-top: 40px;}
.about-info .info-title {display: flex; flex-direction: column; align-items: center;}
.about-info .info-title:first-child {width: 140px;}
.about-info .info-title:last-child {display: flex; flex-direction: column; justify-content: center;}
.about-info .kor-label {padding-bottom: 5px; margin-bottom: 5px; font-size: 24px; font-weight: 800; border-bottom: 1px solid rgba(0, 0, 0, 0.3);}
.about-info .eng-label {font-size: 14px;}
.about-info .kor-value {padding-bottom: 10px; font-size: 24px; font-weight: 800; letter-spacing: 4px;}
.about-info .eng-value {font-size: 12px; color: #222;}
.about-info .birth-value {color: #222;}
.about-info .email-value {color: #222;}

.about-inner .inner-left .inner-left-img {padding: 20px 20px; background-color: #fff; border: .5px solid #000;}
.about-inner .inner-left .inner-left-img img {width: 400px; height:550px;}
.about-inner .inner-right {padding-left: 100px;}
.about-inner .inner-right .inner-right-title {padding-bottom: 30px;}
.about-inner .inner-right .inner-right-title .inner-title {width: 200px; font-size: 36px; line-height: 45px; border-bottom: 10px solid rgba(255, 220, 88, 0.6);}
.about-inner .inner-right .inner-right-info .info-txt {padding-bottom: 40px;}
.about-inner .inner-right .inner-right-info .info-txt:last-child {padding-bottom: 0;}
.about-inner .inner-right .inner-right-info .info-txt .title-txt {padding-bottom: 20px; font-size: 24px; font-weight: 900;}
.about-inner .inner-right .inner-right-info .info-txt .info-sub-txt {line-height: 28px; font-weight: 600;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap {display: flex;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap .skill-item {padding-left: 10px;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap .skill-item:first-child {padding-left: 0;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-item img {width: 24px; height: 24px;}

@media (max-width: 1440px) {
    .about-inner {flex-direction: column; align-items: center;}
    .about-inner .inner-left {padding: 0;}
    .about-inner .inner-left .inner-left-img {width: 440px;}
    .about-inner .inner-right {padding-left: 0; padding-top: 50px;}
}
@media (max-width: 1024px) {
    .about-inner-wrap {padding: 0 50px;}
}
@media (max-width: 768px) {
    .about-inner .inner-left .inner-left-img {display: flex; justify-content: center; width: 340px;}
    .about-inner .inner-left .inner-left-img img {width: 300px; height: auto;}
    .about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap {display: block;}
    .about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap .skill-item {padding-left: 0; padding-top: 10px;}
}
@media (max-width: 480px) {
    .about-inner-wrap {padding: 0 20px 50px;}
    .about-inner .inner-left {display: flex; flex-direction: column; align-items: center;}
    .about-info .kor-label {font-size: 18px;}
    .about-info .eng-label {font-size: 12px;}
    .about-info .kor-value {font-size: 18px;}
    .about-info .eng-value {font-size: 10px;}
    .about-info .birth-value {font-size: 14px;}
    .about-info .email-value {font-size: 14px;}
    .about-info .info-title:first-child {width: 100px;}
    .about-inner .inner-left .inner-left-img {display: flex; justify-content: center; width: 200px;}
    .about-inner .inner-left .inner-left-img img {width: 180px; height: auto;}
    .about-title .title-name {font-size: 36px; line-height: 45px;}
}


.sc-project {overflow: hidden;}
.sc-project .project-wrap {padding: 100px 0 200px;}
.project-inner {max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.project-inner-title {display: flex; align-items: center;}
.project-inner .project-title {font-size: 60px; font-weight: 900; line-height: 70px;}
.project-inner-title .title-deco {padding-left: 40px;}
.project-inner-title .title-deco img {width: 60px;}

.category-list {display: flex; justify-content: flex-end; padding-top: 50px;}
.category-item {display: flex; align-items: center; padding: 10px 20px; margin-right: 20px; border: 1px solid #333; border-radius: 50px; background-color: #333;}
.category-item:last-child {margin-right: 0;}
.category-link {display: flex; flex-direction: column; text-align: center; color: #fff;}
.category-link .link-eng {padding-top: 5px;}
.project-page {padding-top: 200px;}
.page-item .page-title {display: flex; flex-direction: column; padding: 100px 0; font-size: 38px; color: #333;}
.item__1 {display: flex; align-items: center; justify-content: space-between; overflow: hidden;}
.item__1:first-child {padding-right: 100px;}
.item__1:last-child {margin-top: 100px;}
.mockup-wrap {position: relative;}
.page-item {padding: 100px 0;}
.page-item:first-child {padding: 0;}
.page-info {padding: 40px; border: 1px solid #333; border-radius: 25px;}
.page-info .info-top .item-title {display: flex; flex-direction: column; text-align: center;}
.page-info .info-top .item-title .title-kr {color: #333; font-size: 38px;}
.page-info .info-top .item-title .title-eng {color: #666; font-size: 20px;}
.page-info .info-center {padding-top: 30px;}
.page-info .info-center .logo-img {padding-bottom: 20px;}
.logo__1 {width: 100px;}
.logo__2 {width: 100px;}
.logo__3 {width: 200px;}
.info-center .info-text {color: #222;}
.info-desc {font-size: 20px; font-weight: 200;}
.info-text .info-desc__kr {font-size: 20px;}
.info-text .info-desc__eng {font-size: 14px;}
.info-text .info-desc-text {margin: 10px 0; line-height: 20px; font-size: 18px;}
.info-center .info-text .info-desc-text .strong {font-weight: 600;}
.tool-wrap {display: flex; padding-top: 20px;}
.tool-icon {display: flex; flex-direction: column; align-items: center; justify-content: space-between; width: 100%;}
.tool-icon img {width:40px;}
.tool-icon img:hover {transition: all 0.3s; transform: scale(1.1);}
.icon-name {margin-top: 5px;}

.info-bottom {padding-top: 20px;}
.info-bottom .site-link {display: flex; flex-direction: column; align-items: center; padding: 10px; color: #fff; background-color: #333;  border: 1px solid #333; border-radius: 50px;}

.item2-container {display: flex; justify-content: space-between;}
.item2-container .mokup-wrap {position: relative;}
.item2-container .page-tablet {z-index: 2;}
.item2-container .page-mobile {z-index: 3;}
.item2-container .page-info {width: 384px; overflow: hidden;}
/*mokup-page*/
.page-pc {position: relative; top: 0; left: 100px; width: 700px; height: 600px; background: url("../../img/main/monitor.png") no-repeat center / cover; overflow: hidden;}
.page-pc .pc-inner {position: relative; top: 38px; left: 22px; width: 656px; height: 369px; overflow-y: scroll;}
.page-pc .pc-inner img {width: 646px; object-fit: cover;}
.pc-inner::-webkit-scrollbar {width: 10px;}
.pc-inner::-webkit-scrollbar-track {background-color: #fff; border-radius: 10px;}
.pc-inner::-webkit-scrollbar-thumb {background-color: #d0e35f; border: 1px solid #d0e35f; border-radius: 10px;}
.page-tablet {position: absolute; bottom: 0; left: 0; width: 350px; height: 500px; background: url("../../img/main/tablet-mokup.png") no-repeat center / cover; overflow: hidden;}
.page-tablet .tablet-inner {position: absolute; left: 11px; top: 32px; width: 328px; height: 436px; overflow-y: scroll;}
.page-tablet .tablet-inner img {width: 321px;}
.tablet-inner::-webkit-scrollbar {width: 7px;}
.tablet-inner::-webkit-scrollbar-track {background-color: #fff; border-radius: 10px;}
.tablet-inner::-webkit-scrollbar-thumb {background-color: #d0e35f; border: 1px solid #d0e35f; border-radius: 10px;}
.page-mobile {position: absolute; bottom: 0; left: 300px; width: 100px; height: 200px; background: url("../../img/main/mobile-mokup.png") no-repeat center / cover; overflow: hidden;}
.page-mobile .mobile-inner {position: absolute; left: 5px; top: 12px; width: 90px; height: 179px; overflow-y: scroll;}
.page-mobile .mobile-inner img {display: block; width: 87px;}
.mobile-inner::-webkit-scrollbar {width: 3px;}
.mobile-inner::-webkit-scrollbar-track {background-color: #fff; border-radius: 10px;}
.mobile-inner::-webkit-scrollbar-thumb {background-color: #d0e35f; border: 1px solid #d0e35f; border-radius: 10px;}

@media (max-width: 1660px) {
    .project-inner {padding: 0 70px;}
    .page-pc {width: 500px; background-size: contain; order: 1;}
    .page-pc .pc-inner {top: 115px; left: 20px; height: 260px;}
    .page-pc .pc-inner img {width: 460px; object-fit: cover;}
    .page-tablet {width: 250px;  background-size: contain;}
    .page-tablet .tablet-inner {left: 20px; top: 110px; width: 210px; height: 280px;}
    .page-tablet .tablet-inner img {width: 203px;}
    .page-mobile {bottom: 0; left: 200px; width: 100px; height: 200px; background: url("../../img/main/mobile-mokup.png") no-repeat center / cover; overflow: hidden;}
    .page-mobile .mobile-inner {position: absolute; left: 5px; top: 9px; width: 89px; height: 182px; overflow-y: scroll;}
    .page-mobile .mobile-inner img {display: block; width: 86px;}
    .page-info {order: 2;}
}

@media (max-width: 1280px) {
    .item__1 {flex-direction: column; align-items: center;}
    .item__1:first-child {padding-right: 0;}
    .item2-container {flex-direction: column; align-items: center;}
    .page-info {margin-top: 50px;}
    .page-pc {left: 0;}
    .page-tablet {bottom: -50px; left: -40px;}
    .page-mobile {left: 150px;}
    .category-item {padding: 7px 12px;}
    .category-link .link-kr {font-size: 12px;}
    .category-link .link-eng {font-size: 12px;}
}

@media (max-width: 1024px) {
    .project-inner {padding: 0 50px;}
    .project-page {padding-top: 50px;}
    .page-item .page-title {padding: 50px 0;}
    .swiper-control {width: 300px;}
}
@media (max-width: 768px) {
    .swiper-control {width: 300px; padding: 0 50px;}
    .project-inner {padding: 0 20px;}
}
@media (max-width: 480px) {
    .project-inner-title .title-deco {padding-left: 10px;}
    .project-inner {padding: 0 20px;}
    .project-inner .project-title {font-size: 36px; line-height: 45px;}
    .swiper-control {position: relative; top: 20px; left: 50%; transform: translateX(-50%); display: flex; align-items: center; justify-content: center; width: 200px; padding: 0 40px;}
    .swiper-control .swiper-pagination .swiper-pagination-bullet { background-color: #000; margin: 0 5px; padding: 2px;}
}



.sc-last-wrap {padding: 100px 0 200px;}
.last-inner {max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.last-inner-title {display: flex; align-items: center;}
.last-inner-title .last-title-name {font-size: 60px; font-weight: 900; line-height: 70px;}
.last-inner-title .title-deco {padding-left: 40px;}
.last-inner-title .title-deco img {width: 60px;}
.inner-cards {width: 100%; height: 100vh; margin-top: 100px;}
.card-list {position: relative; display: block; height: 100%; gap: 0;}
.card {position: absolute; display: block; width: 630px; padding: 50px 50px 20px; background-color: #fff; border: 2px solid #000; box-shadow: -7px 7px 0px rgba(0, 0, 0, 0.5);;}
.card-txt {line-height: 24px; font-weight: 600; color: #222;}
.card-title {display: flex; align-items: center; padding-top: 40px; font-size: 20px; line-height: 35px; font-weight: 900; color: #000000;}
.card-title::before {content: ""; width: 15px; height: 15px; margin-right: 10px; background: url("../../img/icon/check-icon.png") no-repeat center / cover;}
.card2, .card4 {text-align: right;}

.card1 {top: 50px; left: 15%; transform: rotate(5deg);}
.card2 {top: 270px; right: 15%; transform: rotate(-5deg);}
.card3 {top: 490px; left: 15%; transform: rotate(5deg);}
.card4 {top: 710px; right: 15%; transform: rotate(-5deg);}
@media (max-width: 1440px) {
    .card1 {top: 50px; left: 2%;}
    .card2 {top: 250px; right: 2%;}
    .card3 {top: 500px; left: 2%;}
    .card4 {top: 750px; right: 2%;}
}

@media (max-width: 1024px) {
    .last-inner {padding: 0 50px;}
    .card1 {top: 50px; left: 2%;}
    .card2 {top: 320px; right: 2%;}
    .card3 {top: 600px; left: 2%;}
    .card4 {top: 920px; right: 2%;}
}
@media (max-width: 768px) {
    .card {width: 400px;}
    .card1 {top: 50px; left: 5%;}
    .card2 {top: 320px; right: 2%;}
    .card3 {top: 600px; left: 5%;}
    .card4 {top: 920px; right: 2%;}
}

@media (max-width: 540px) {
    .card {width: 300px; padding: 5px;}
    .card1 {top: 50px; left: 5%;}
    .card2 {top: 270px; right: 2%;}
    .card3 {top: 490px; left: 5%;}
    .card4 {top: 710px; right: 2%;}
}

@media (max-width: 480px) {
    .last-inner {padding: 0 10px;}
    .last-inner-title .title-deco {padding-left: 10px;}
    .last-inner-title .last-title-name {font-size: 38px; line-height: 45px;}
    .card {width: 240px; padding: 5px;}
    .card1 {top: 50px; left: 5%;}
    .card2 {top: 300px; right: 5%;}
    .card3 {top: 600px; left: 5%;}
    .card4 {top: 900px; right: 5%;}
    .card2, .card4 {text-align: left;}
    .card-title::before {margin-right: 2px;}
}


.message-wrap {padding: 200px;}
.message-inner {max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.message-inner .inner-txt {padding: 30px; border: 2px solid #222; border-radius: 100px; background-color: #fff;}
.message-inner .inner-txt .txt {display: flex; align-items: center; justify-content: center; text-align: center; line-height: 30px;}

@media (max-width: 1440px) {
    .message-wrap {padding: 200px 100px;}
}
@media (max-width: 1024px) {
    .message-wrap {padding: 200px 0;}
}
@media (max-width: 768px) {
    .message-inner {padding: 0 50px;}
}
@media (max-width: 480px) {
    .message-inner {padding: 0 10px;}
}