.main {background-color: #fefff0;}

.first-wrap {padding: 200px 0 220px;}
.first-inner {display: flex; align-items: center; justify-content: center; max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.sc-inner-left .deco-img img {width: 100px; height: auto;}
.first-inner .sc-inner-left .inner-txt p {font-size: 60px; font-weight: 900; line-height: 100px;}
.first-inner .sc-inner-left .inner-txt .underline {border-bottom: 10px solid rgba(255, 220, 88, 0.6)}
.sc-first .sc-inner-right {padding-left: 300px;}
.sc-first .sc-inner-right .inner-wrap .top-deco {display: flex; align-items: center;}
.sc-first .sc-inner-right .inner-wrap .inner-bg {position: relative; padding: 25px 20px; background-color: #fff; border: .5px solid #383838; box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.5); z-index: 1;}
.sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img {border: 2px solid #222222;}
.sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img img {width: 400px; height: 600px;}

@media (max-width: 1440px) {
    .first-inner {padding: 0 100px;}
    .sc-first .sc-inner-right {padding-left: 70px;}
}
@media (max-width: 1280px) {
    .sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img img {width: 250px; height: 450px;}
    .first-inner .sc-inner-left .inner-txt p {font-size: 54px; line-height: 80px;}
    .sc-first .sc-inner-right {padding-left: 50px;}
}
@media (max-width: 1024px) {
    .first-inner .sc-inner-left .inner-txt p {font-size: 48px; line-height: 70px;}
    .first-inner {padding: 0 50px;}
}
@media (max-width: 940px) {
    .first-inner {flex-direction: column;}
    .sc-first .sc-inner-right {padding-left: 0; padding-top: 40px;}
}
@media (max-width: 480px) {
    .sc-first .sc-inner-right .inner-wrap .inner-bg .inner-img img {width: 250px; height: 450px;}
    .first-inner {padding: 0 20px;}
    .first-inner .sc-inner-left .inner-txt p {font-size: 38px; line-height: 45px;}
}


.about-wrap {padding: 100px 0 150px; z-index: 1;}
.about-inner-wrap {max-width: 1920px; height: auto; padding: 0 100px; margin: 0 auto;}
.about-title {display: flex; align-items: center;}
.about-title .title-name {font-size: 60px; font-weight: 900; line-height: 70px;}
.about-title .title-deco {padding-left: 40px;}
.about-title .title-deco img {width: 50px; height: 50px;}
.about-inner {display: flex; justify-content: center; padding: 30px; margin-top: 50px; border-radius: 25px; background-color: #fefff0; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);}
.about-inner .inner-left {padding: 50px 120px 0 0;}
.about-inner .inner-left .about-info {display: flex; justify-content: center; height: 23px; color: #fff; background-color: rgba(0, 0, 0, 0.7);}
.about-inner .inner-left .about-info span {padding-left: 50px; font-size: 18px; font-weight: 900;}
.about-inner .inner-left .about-info span:first-child {padding-left: 0;}
.about-inner .inner-left .inner-left-img {padding: 20px 20px 0; background-color: #fff; border: .5px solid #000;}
.about-inner .inner-left .inner-left-img img {width: 400px; height:550px;}
.about-inner .inner-right {padding-left: 100px;}
.about-inner .inner-right .inner-right-title {padding-bottom: 30px;}
.about-inner .inner-right .inner-right-title .inner-title {width: 200px; font-size: 36px; line-height: 45px; border-bottom: 10px solid rgba(255, 220, 88, 0.6);}
.about-inner .inner-right .inner-right-info .info-txt {padding-bottom: 40px;}
.about-inner .inner-right .inner-right-info .info-txt:last-child {padding-bottom: 0;}
.about-inner .inner-right .inner-right-info .info-txt .title-txt {padding-bottom: 20px; font-size: 24px; font-weight: 900;}
.about-inner .inner-right .inner-right-info .info-txt .info-sub-txt {line-height: 28px; font-weight: 600;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap {display: flex;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap .skill-item {padding-left: 10px;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap .skill-item:first-child {padding-left: 0;}
.about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-item img {width: 24px; height: 24px;}

@media (max-width: 1440px) {
    .about-inner {flex-direction: column; align-items: center;}
    .about-inner .inner-left {padding: 0;}
    .about-inner .inner-left .inner-left-img {width: 440px;}
    .about-inner .inner-right {padding-left: 0; padding-top: 50px;}
}
@media (max-width: 1024px) {
    .about-inner-wrap {padding: 0 50px;}
}
@media (max-width: 768px) {
    .about-inner .inner-left .inner-left-img {display: flex; justify-content: center; width: 340px;}
    .about-inner .inner-left .inner-left-img img {width: 300px; height: auto;}
    .about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap {display: block;}
    .about-inner .inner-right .inner-right-info .info-txt .skill-list .skill-wrap .skill-item {padding-left: 0; padding-top: 10px;}
}
@media (max-width: 480px) {
    .about-inner-wrap {padding: 0 20px 50px;}
    .about-inner .inner-left .inner-left-img {display: flex; justify-content: center; width: 200px;}
    .about-inner .inner-left .about-info span {padding-left: 20px;}
    .about-inner .inner-left .inner-left-img img {width: 180px; height: auto;}
    .about-title .title-name {font-size: 36px; line-height: 45px;}
}


.sc-project {overflow: hidden;}
.sc-project .project-wrap {padding: 100px 0 200px;}
.project-inner {max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.project-inner-title {display: flex; align-items: center;}
.project-inner .project-title {font-size: 60px; font-weight: 900; line-height: 70px;}
.project-inner-title .title-deco {padding-left: 40px;}
.project-inner-title .title-deco img {width: 60px;}
.project-swiper {padding: 200px 0; overflow: hidden;}
.swiper-slide {position: relative; width: auto; height: 700px; overflow: hidden; border: 5px solid #000; border-radius: 25px; transition: background-position 1s ease-in-out;}
.swiper-inner .slide-item-info {position: absolute; bottom: 0; width: 100%; padding-bottom: 30px; text-align: center; background-color: rgba(0, 0, 0, 0.6);}
.swiper-inner .slide-item-info .item-name {position: absolute; top: -10%; left: 50%; transform: translateX(-50%); display: inline-block; padding: 10px; color: #fff; background-color: #000;}
.swiper-inner .slide-item-info .contribution {padding: 25px 0 5px; font-size: 18px; font-weight: 900; color: #fff;}
.swiper-inner .slide-item-info p {color: #fff; padding: 5px 0;}
.swiper-inner .slide-item-info .item-info-txt {padding-bottom: 30px;}
.swiper-inner .slide-item-info .link{padding: 10px 60px; font-weight: 900; color: #000; background-color: #fff;  border: 1px solid #fff; border-radius: 25px;}
.scroll-container {position: relative; overflow: hidden;}
.swiper-slide:hover {background-position: center bottom;}
.slide--1 {width: 100%; background: url("../../img/main/shinsegae-lnb.png") no-repeat center top / 100% auto;}
.slide--2 {width: 100%; background: url("../../img/main/shinsegae-lnb_2-full.png") no-repeat center top / 100% auto;}
.slide--3 {width: 100%; background: url("../../img/main/samsunglions-full.png") no-repeat center top / 100% auto;}
.slide--4 {width: 100%; background: url("../../img/main/hansol-pns.png") no-repeat center top / 100% auto;}
.slide--5 {width: 100%; background: url("../../img/main/lespace.png") no-repeat center top / 100% auto;}
.slide--6 {width: 100%; background: url("../../img/main/kia.png") no-repeat center top / 100% auto;}
.slide--7 {width: 100%; background: url("../../img/main/genesis.png") no-repeat center top / 100% auto;}
.slide--8 {width: 100%; background: url("../../img/main/porfolio-1.png") no-repeat center top / 100% auto;}
.slide--9 {width: 100%; background: url("../../img/main/portfolio-2.png") no-repeat center top / 100% auto;}
.swiper-control {position: relative; top: 20px; left: 50%; transform: translateX(-50%); display: flex; align-items: center; justify-content: center; width: 270px; padding: 0 50px;}
.swiper-control .swiper-pagination {position: relative; bottom: 0; display: flex; align-items: center; width: 200px; height: 50px;}
.swiper-control .swiper-pagination .swiper-pagination-bullet { background-color: #000; margin: 0 10px; padding: 2px;}
.swiper-control .swiper-prev {position: absolute; left: 0; width: 30px; height: 30px; background: url("../../img/icon/arrow-icon.png") no-repeat center / cover; transform: rotate(-120deg);}
.swiper-control .swiper-next {position: absolute; right: 0;width: 30px; height: 30px; background: url("../../img/icon/arrow-icon.png") no-repeat center / cover; transform: rotate(50deg);}
@media (max-width: 1024px) {
    .project-inner {padding: 0 50px;}
    .swiper-control {width: 300px;}
}
@media (max-width: 768px) {
    .swiper-control {width: 300px; padding: 0 50px;}
}
@media (max-width: 480px) {
    .project-inner-title .title-deco {padding-left: 10px;}
    .project-inner {padding: 0 20px;}
    .project-inner .project-title {font-size: 36px; line-height: 45px;}
    .swiper-control {position: relative; top: 20px; left: 50%; transform: translateX(-50%); display: flex; align-items: center; justify-content: center; width: 200px; padding: 0 40px;}
    .swiper-control .swiper-pagination .swiper-pagination-bullet { background-color: #000; margin: 0 5px; padding: 2px;}
}



.sc-last-wrap {padding: 100px 0 200px;}
.last-inner {max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.last-inner-title {display: flex; align-items: center;}
.last-inner-title .last-title-name {font-size: 60px; font-weight: 900; line-height: 70px;}
.last-inner-title .title-deco {padding-left: 40px;}
.last-inner-title .title-deco img {width: 60px;}
.inner-cards {width: 100%; height: 100vh; margin-top: 100px;}
.card-list {position: relative; display: block; height: 100%; gap: 0;}
.card {position: absolute; display: block; width: 630px; padding: 50px 50px 20px; background-color: #fff; border: 2px solid #000; box-shadow: -7px 7px 0px rgba(0, 0, 0, 0.5);;}
.card-txt {line-height: 24px; font-weight: 600; color: #222;}
.card-title {display: flex; align-items: center; padding-top: 40px; font-size: 20px; line-height: 35px; font-weight: 900; color: #000000;}
.card-title::before {content: ""; width: 15px; height: 15px; margin-right: 10px; background: url("../../img/icon/check-icon.png") no-repeat center / cover;}
.card2, .card4 {text-align: right;}

.card1 {top: 50px; left: 15%; transform: rotate(5deg);}
.card2 {top: 270px; right: 15%; transform: rotate(-5deg);}
.card3 {top: 490px; left: 15%; transform: rotate(5deg);}
.card4 {top: 710px; right: 15%; transform: rotate(-5deg);}
@media (max-width: 1440px) {
    .card1 {top: 50px; left: 2%;}
    .card2 {top: 250px; right: 2%;}
    .card3 {top: 500px; left: 2%;}
    .card4 {top: 750px; right: 2%;}
}

@media (max-width: 1024px) {
    .last-inner {padding: 0 50px;}
    .card1 {top: 50px; left: 2%;}
    .card2 {top: 320px; right: 2%;}
    .card3 {top: 600px; left: 2%;}
    .card4 {top: 920px; right: 2%;}
}
@media (max-width: 768px) {
    .card {width: 400px;}
    .card1 {top: 50px; left: 5%;}
    .card2 {top: 320px; right: 2%;}
    .card3 {top: 600px; left: 5%;}
    .card4 {top: 920px; right: 2%;}
}

@media (max-width: 540px) {
    .card {width: 300px; padding: 5px;}
    .card1 {top: 50px; left: 5%;}
    .card2 {top: 270px; right: 2%;}
    .card3 {top: 490px; left: 5%;}
    .card4 {top: 710px; right: 2%;}
}

@media (max-width: 480px) {
    .last-inner {padding: 0 10px;}
    .last-inner-title .title-deco {padding-left: 10px;}
    .last-inner-title .last-title-name {font-size: 38px; line-height: 45px;}
    .card {width: 240px; padding: 5px;}
    .card1 {top: 50px; left: 5%;}
    .card2 {top: 300px; right: 5%;}
    .card3 {top: 600px; left: 5%;}
    .card4 {top: 900px; right: 5%;}
    .card2, .card4 {text-align: left;}
    .card-title::before {margin-right: 2px;}
}


.message-wrap {padding: 200px;}
.message-inner {max-width: 1920px; padding: 0 140px; margin: 0 auto;}
.message-inner .inner-txt {padding: 30px; border: 2px solid #222; border-radius: 100px; background-color: #fff;}
.message-inner .inner-txt .txt {display: flex; align-items: center; justify-content: center; text-align: center; line-height: 30px;}

@media (max-width: 1440px) {
    .message-wrap {padding: 200px 100px;}
}
@media (max-width: 1024px) {
    .message-wrap {padding: 200px 0;}
}
@media (max-width: 768px) {
    .message-inner {padding: 0 50px;}
}
@media (max-width: 480px) {
    .message-inner {padding: 0 10px;}
}